
@import "../_config.scss";

page-convert {
  & > .new {
    margin-bottom: 30px;
    & > mat-form-field.link {
      min-width: 300px;
      max-width: 100%;
    }
    & > .submit {
      margin-left: 16px;
      background-color: $app-green;
      color: white;
      white-space: nowrap;
      padding: 8px 16px;
      cursor: pointer;
      &.disabled {
        background-color: lighten($app-grey, 30%);
        color: $app-grey;
        cursor: not-allowed;
      }
    }
  }
}
