
.new
  mat-form-field.link
    input(autofocus, matInput, placeholder="Document Link", 
    [formControl]="link", [errorStateMatcher]="matcher")
    mat-hint {{getLinkHint()}}
    mat-error(*ngIf="link.hasError('required')")
      | Document Link is 
      strong required
  mat-form-field.email
    input(matInput, placeholder="Email", [formControl]="email")
  mat-form-field.password
    input(type="password", matInput, placeholder="Password", [formControl]="password")
  span.submit(
    (click)="!link.hasError('required') && requestAddItem()", 
    [ngClass]="{disabled:link.hasError('required')}") 
    mat-icon(fontSet="fas", fontIcon="fa-file-export")
    | Start Conversion

.items
  .waiting(*ngIf="(service.getRefs() | async) == null")
    mat-progress-bar(mode="query", color="accent")
  .empty(*ngIf="(service.getRefs() | async)?.length === 0")
    | Submit a link above to get started!
  .normal(*ngIf="(service.getRefs() | async)?.length > 0")
    convert-item.item(
      *ngFor="let item of (service.getItems() | async)",
      [service]="service", [wrap]="(item | async)")
    
