
mat-card.wrap.mat-elevation-z3([ngClass]="wrap.meta.state")
  .head(fxLayout="row", fxLayoutAlign="center center")
    span.title(fxFlex="grow") {{wrap.data.name}}
    span.steps(fxFlex="", [matTooltip]="getTooltipForStep()")
      span.step(
        *ngFor="let step of wrap.meta.steps",
        [ngClass]="step.state")
        mat-icon(
          [ngClass]="{'fa-spin':getSpinForState(step.state)}",
          [fontSet]="getIconSetForState(step.state)", 
          [fontIcon]="getIconForState(step.state)")
    //-span.control.get-source(fxFlex="", [ngClass]="{enabled:wrap.meta.hasSource}")
      mat-icon(fontSet="fas", fontIcon="fa-file-powerpoint")
      | PPTX
    a.control.get-convert(fxFlex="", [ngClass]="{enabled:wrap.meta.hasConvert}", target="_blank", href="{{wrap.data.path_pdf}}")
      mat-icon(fontSet="fas", fontIcon="fa-file-pdf")
      | PDF
    span.control.remove(fxFlex="", (click)="service.requestRemoveItem(wrap)")
      mat-icon(fontSet="fas", fontIcon="fa-times")
  .error(*ngIf="wrap.meta.hasError") {{wrap.data.error}}
  .progress(*ngIf="wrap.meta.hasProgress")
     mat-progress-bar(mode="determinate", color="accent", [value]="wrap.data.progress*100")
