
@import "../_config.scss";

convert-item {
  & > mat-card.wrap {
    margin-bottom: 22px;
    border-radius: 0;
    padding: 16px;
    border-left: 8px solid $app-grey;
    &.ERROR { border-color: $app-red; }
    &.PENDING { border-color: $app-amber; }
    &.COMPLETE { border-color: $app-green; }
    & > .head {
      & > .title {
        font-size: 14pt;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: visible;
        line-height: 1.4;
        text-overflow: ellipsis;
      }
      & > .steps {
        text-align: center;
        white-space: nowrap;
        margin-right: 10px;
        & > .step {
          font-size: 24px;
          color: lighten($app-grey, 25%);
          position: relative;
          &:not(:last-child) {
            margin-right: 20px;
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: calc(50% - 1px);
              right: -16px;
              width: 10px;
              height: 2px;
              background: lighten($app-grey, 10%);
            }
          }
          &.ERROR { color: $app-red; }
          &.PENDING { color: $app-amber; }
          &.COMPLETE { color: $app-green; }
        }
      }
      & > .control {
        white-space: nowrap;
        margin-left: 8px;
        padding: 6px 8px;
        box-sizing: border-box;
        cursor: not-allowed;
        color: $app-grey;
        background-color: lighten($app-grey, 30%);
        & > mat-icon {
          text-align: center;
          height: auto;
          width: auto;
          margin-right: 6px
        }
        &.enabled {
          cursor: pointer;
          background-color: $app-green;
          color: white;
        }
      }
      & > .remove {
        cursor: pointer;
        color: $app-red;
        background-color: lighten($app-red, 30%);
        & > mat-icon { margin-right: 0; }
      }
    }
    & > .error,
    & > .progress {
      margin-top: 10px;
    }
    & > .error {
      padding: 8px 12px;
      color: $app-red;
      background-color: lighten($app-red, 35%);
    }
  }
}
