
@import "~@angular/material/theming";

$app-primary: mat-palette($mat-teal, 400, 300, 500);
$app-accent:  mat-palette($mat-amber);
$app-warn:    mat-palette($mat-red);

$app-grey:    mat-color(mat-palette($mat-gray), 500);
$app-green:   mat-color($app-primary);
$app-amber:   mat-color($app-accent);
$app-red:     mat-color($app-warn);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
