
app {
  & > mat-toolbar.header {
    position: fixed;
    top: 0;
    z-index: 100;
    color: white !important;
    & > .title {
      font-size: 21pt;
      & > .beta {
        font-size: 14pt;
        margin-left: 4px;
      }
    }
    & > .page-button {
      color: white;
      padding: 6px 15px;
      cursor: pointer;
      transition: background-color 300ms;
      text-decoration: none;
      font-size: 14pt;
      & > mat-icon {
        text-align: center;
      }
      & > .text {
        margin-left: 6px;
      }
      &:hover {
        background-color: rgba(255,255,255,0.1);
      }
      &.active {
        background-color: rgba(0,0,0,0.12);
      }
    }
    &.collapse {
      & > .page-button {
        padding: 6px 10px;
        & > .text {
          display: none;
        }
      }
    }
  }
  & > .content {
    margin-top: 60px;
    padding: 30px;
    &.collapse {
      margin-top: 55px;
      padding: 20px;
    }
  }
}
