
mat-toolbar.header(color="primary", fxLayout="row", ngClass.lt-sm="collapse")
  span(fxFlex="").title
    | Docvert
    span.beta(matTooltip="Data is subject to removal") Beta
  span(fxFlex="grow").filler
  a(fxFlex="", routerLink="/convert", 
  routerLinkActive="active",
  matTooltip="Converter").page-button.convert
    mat-icon(fontSet="fas", fontIcon="fa-file-export")
    span.text Converter
  //-a(fxFlex="", routerLink="/about", 
    routerLinkActive="active",
    matTooltip="About").page-button.about
    mat-icon(fontSet="fas", fontIcon="fa-info-circle")
    span.text About
  //-a(fxFlex="", routerLink="/auth", 
    routerLinkActive="active",
    matTooltip="Authentications").page-button.auth
    mat-icon(fontSet="fas", fontIcon="fa-fingerprint")
    span.text Authentications
main.content(ngClass.lt-sm="collapse")
  router-outlet
