
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import "~meyer-reset-scss/reset.scss";
@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "~@fortawesome/fontawesome-free/css/brands.min.css";
@import "~@fortawesome/fontawesome-free/css/regular.min.css";
@import "~@fortawesome/fontawesome-free/css/solid.min.css";

@import "_config.scss";

@include mat-core();

@include angular-material-theme($app-theme);

body > app * {
  font-family: "Raleway";
}

strong {
  font-weight: bold;
}
